@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mona+Sans:wght@400;700&family=Oswald:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary-green: #99BC85;
    --primary-white: #FDFAF6;
    --primary-black: #18230F;
    --primary-purple: #832D5A;
    --primary-yellow: #FEF102;
}

body {
    background-color: var(--primary-white);
}

header {
    background: #18230F;
    width: 98%;
    margin: 0 auto;
    border-radius: 50px;
    height: 80px;
}

. {
    text-decoration: none;
    padding: 10px;
}

.left-a, .right-a {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

li {
    list-style: none;
}

.items-center {
    height: 100%;;
}

.logo-text {
    color: var(--primary-green);
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;;
}

.logo-img {
    width: 40px;
}

.left-nav {
    justify-content: space-between;
    padding-left: 160px;
}

.right-nav {
    justify-content: space-between;
    padding-right: 160px;
}

.logo-container {
    gap: 5px;
}

.logo-image {
    width: 65px;
    border-radius: 50%;
}

.Link:hover {
    color: var(--primary-green);
}

button {
    background-color: var(--primary-black);
    border: none;
    outline: none;
    cursor: pointer;
}

.mermeluchos-container {
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.mermeluchos-img {
    position: absolute;
    top: 15vh;
    width: 500px;
    object-fit: cover;
    height: 535px;
    z-index: 2; /* Mayor z-index para que esté por encima */
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.main-title {
    position: absolute;
    z-index: 1; /* Menor z-index para que esté detrás */
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: var(--primary-black);
    text-align: center;
    width: 100%;
    top: 5vh;
    font-size: 80px;

    max-width: 800px; /* Ajusta este valor según necesites */
    margin: 0 auto; /* Centra el bloque de texto */
    left: 0;
    right: 0;
    overflow-wrap: break-word; /* Permite que las palabras largas se dividan */
    word-break: normal; /* Controla cómo se dividen las palabras */
    line-height: 1.2;
}

.mermepagina {
    color: var(--primary-green);
}

.containerBorder {
    position: absolute;
     top: 38vh;
     right: 5%;
    width: 50vh;
    height: 35vh;
    
}

.main-subtitle {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: var(--primary-white);
    text-align: center;
    top: 30%;
    margin-top: -40px;
    font-size: 30px;
    padding: 20px;
}

.blackSimbol {
    color: var(--primary-green);
}

.second-subtitle {
    position: absolute;
    font-family: 'Oswald' italic, sans-serif;
    font-weight: 100;
    color: var(--primary-black);
    text-align: start;
    top: 45vh;
    left: 50px;
    width: 400px;
    font-size: 40px;
}

.phraseMark {
    font-size: 60px;
}